<button {{action 'viewTicket'}} class="list-group-item">
  <h1>{{ticket.student}}</h1>
  <p>{{time-passed ticket.openTime}}</p>
  {{#if showTicket}}
    <div class="well answer">
      {{ticket.description}}
    </div>
    <button {{action 'closeTicket' ticket}} class="btn btn-danger pull-right">Close</button>
  {{/if}}
</button>
